.season-listing {
    width: 100%;
    height: 100%;
}

/* yes, this is a hack */
.season-listing .simplebar-content {    
    display: flex;
    flex-wrap: wrap;
}

.season-item {
    width: 450px;
    height: 250px;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 5px 7px #bebebe;
    background-color: #f6f6f6;    
    margin: 5px 5px;
    cursor: pointer;
    color: #000;
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: column;    
}

.season-item > a {
    text-decoration: none;
    color: inherit;
}

.season-item:hover {
    background-color: #000;    
    color: #fff;
}

.season-item > a:hover {
    text-decoration: none;
    color:inherit;
}

.season-item-header {
    font-size: xx-large;
}

.season-item-race {
    display: flex;
    justify-items: flex-start;
    padding: 5px 0;
}

.season-item-race-rounds {
    margin-left: 5px;
}

.season-item-racename {
    font-weight: bold;
}

.season-item-race-locality {
    color: #bbb;
    text-transform: uppercase;
    font-size: small;
}

.season-details-container {
    display: flex;
}

.season-details-race-items {
    width: 250px;
}

.season-race-results-container {
    flex: 1;
    padding-left: 10px;
    overflow-y: hidden;
}

.season-details-race-item {
    padding: 10px 0;
    cursor: pointer;
}

.season-details-race-item:hover {
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid red;
}

.selected-season-details-race-item {
    font-weight: bold;
    color: #fff;
    padding: 5px;
    background-color: red;
}

.selected-season-details-race-item:hover {    
    color: #fff;
    border: none;    
}

.race-data {
    padding: 5px 0;    
}

.race-results {
    height: 630px;
}