.driver-position-item {
    display: flex;
    align-items: flex-start;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.driver-position {
    width: 30px;
    height: 30px;
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: column;
}

.race-driver-details {
    padding-left: 20px;
}

.race-driver-name {
    font-size: x-large;
}

.race-driver-constructor {
    color: rgb(117, 117, 117);
    text-transform: uppercase;
    font-size: small;
}

.world-champ {
    text-transform: uppercase;
    font-size: x-small;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    width: 100px;
    font-weight: bold;
    padding: 2px 3px;
    margin-left: 5px;
    margin-top: 7px;
}