.navigation-container {
    width: "100%";
    height: 60px;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 0 15px #c0c0c0;
}

.navigation-content {
    max-width: 960px;
    margin: 0 auto;    
    height: 100%;
    display: flex;
}

.nav-link {
    width: 240px;
    height: 100%;    
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: column;    
}

.app-title {
    flex: 1 1;
    text-align: right;
    font-size: xxx-large;
    font-weight: bolder;
    text-transform: uppercase;
}