.loading-indicator {
    width: 100%;
    height: 100%;
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: column;    
}

@keyframes ldio-ewo14rykz36 {
    0% { transform: translate(12px,80px) scale(0); }
   25% { transform: translate(12px,80px) scale(0); }
   50% { transform: translate(12px,80px) scale(1); }
   75% { transform: translate(80px,80px) scale(1); }
  100% { transform: translate(148px,80px) scale(1); }
 }
 @keyframes ldio-ewo14rykz36-r {
    0% { transform: translate(148px,80px) scale(1); }
  100% { transform: translate(148px,80px) scale(0); }
 }
 @keyframes ldio-ewo14rykz36-c {
    0% { background: #85a2b6 }
   25% { background: #fdfdfd }
   50% { background: #dce4eb }
   75% { background: #bbcedd }
  100% { background: #85a2b6 }
 }
 .ldio-ewo14rykz36 div {
   position: absolute;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   transform: translate(80px,80px) scale(1);
   background: #85a2b6;
   animation: ldio-ewo14rykz36 1s infinite cubic-bezier(0,0.5,0.5,1);
 }
 .ldio-ewo14rykz36 div:nth-child(1) {
   background: #bbcedd;
   transform: translate(148px,80px) scale(1);
   animation: ldio-ewo14rykz36-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-ewo14rykz36-c 1s infinite step-start;
 }.ldio-ewo14rykz36 div:nth-child(2) {
   animation-delay: -0.25s;
   background: #85a2b6;
 }.ldio-ewo14rykz36 div:nth-child(3) {
   animation-delay: -0.5s;
   background: #bbcedd;
 }.ldio-ewo14rykz36 div:nth-child(4) {
   animation-delay: -0.75s;
   background: #dce4eb;
 }.ldio-ewo14rykz36 div:nth-child(5) {
   animation-delay: -1s;
   background: #fdfdfd;
 }
 .loadingio-spinner-ellipsis-wduzi6nacf {
   width: 200px;
   height: 200px;
   display: inline-block;
   overflow: hidden;
   margin: 0 auto;
 }
 .ldio-ewo14rykz36 {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(1);
   backface-visibility: hidden;
   transform-origin: 0 0; /* see note above */
 }
 .ldio-ewo14rykz36 div { box-sizing: content-box; }
 /* generated by https://loading.io/ */